  <!-- <mat-icon (click)="zoomIn()" style="font-size: 30px;">zoom_in</mat-icon>
  <mat-icon (click)="zoomOut()" style="font-size: 30px;">zoom_out</mat-icon>
  <mat-icon (click)="resetZoom()" style="font-size: 28px;">  refresh</mat-icon>


<mat-grid-list  cols="2" rowHeight="96vh" gutterSize="10px">
  <mat-grid-tile>
    <app-view-tile1 class="tile-canvas"></app-view-tile1>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-view-tile2 class="tile-canvas"></app-view-tile2>
  </mat-grid-tile>
</mat-grid-list> -->
<div class="row">
  <div class="col"></div>
  <div class="col"></div>
</div>

<div style="display: flex; height: 100vh;">
  <app-leaflet-tile-viewer></app-leaflet-tile-viewer>
  <app-leaflet-tile-viewer2></app-leaflet-tile-viewer2>
</div>